# Dart related files
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Build output
build/

# Generated plugin registrant
*/flutter/generated_plugin_registrant.*

# Linux build directory
build/linux/
linux/flutter/ephemeral/

# CMake files
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/compile_commands.json

# Object files and libraries
*.o
*.so
*.a
*.lo

# Logs and temporary files
*.log
*.tmp
*.swp
*.lock
*.bak

# IDE-specific files
*.idea/
*.vscode/
*.iml

# Desktop specific files
linux/app/Debug/
linux/app/Release/

# User-specific files
*.DS_Store
*.directory
Thumbs.db

# Miscellaneous
*.class
*.pyc
*.pyo
*.env
*.venv